$border-radius: 10px;
$fieldSize: 300px;
$fieldPadding: 10px;
$fieldBorder: 4px solid #444;
$fieldBgColor: #ccc;
$itemBgColor: #ddd;
$itemSize: $fieldSize / 3;
$halfSpaceBetweenItem: 1px;
$move-time: 0.5s;