.item {
    position: absolute;
    top: 0;
    left: 0;
    width: $itemSize;
    height: $itemSize;
    box-sizing: border-box;
    border: $halfSpaceBetweenItem solid #444;
    background-color: $itemBgColor;
    border-radius: $border-radius;
    font-family: 'Oswald', sans-serif;
    font-size: $itemSize / 3;
    color: #444;
    text-align: center;
    line-height: $itemSize * 0.95;
    cursor: pointer;
    transition-duration: $move-time;
    transition-property: transform;

    &.pos-00 {
        transform: translateX(0) translateY(0);
    }

    &.pos-01 {
        transform: translateX($itemSize) translateY(0);
    }

    &.pos-02 {
        transform: translateX($itemSize * 2) translateY(0);
    }

    &.pos-10 {
        transform: translateX(0) translateY($itemSize);
    }

    &.pos-11 {
        transform: translateX($itemSize) translateY($itemSize);
    }

    &.pos-12 {
        transform: translateX($itemSize * 2) translateY($itemSize);
    }

    &.pos-20 {
        transform: translateX(0) translateY($itemSize * 2);
    }

    &.pos-21 {
        transform: translateX($itemSize) translateY($itemSize * 2);
    }

    &.pos-22 {
        transform: translateX($itemSize * 2) translateY($itemSize * 2);
    }
}