.field {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -$fieldSize / 2;
    margin-left: -$fieldSize / 2;
    width: $fieldSize;
    height: $fieldSize;
    padding: $fieldPadding;
    border: $fieldBorder;
    background-color: $fieldBgColor;
    border-radius: $border-radius;
    box-sizing: content-box;

    .inner-wrapper {
        position: relative;
        width: 100%;
        height: 100%;

        &:before {
            content: "";
            position: absolute;
            background-color: #fff;
            border: $fieldBorder;
            border-radius: $border-radius;
            top: 15px;
            right: 15px;
            bottom: 15px;
            left: 15px;
        }
    }
}